*{
    padding:0px;
    margin:0px;
    box-sizing: content-box;
    font-size:100%;
}
body{
    display:flex;
    flex-direction: column;
    height:100vh;
}
.mainHeading
{
    height:10vh;
}
.mainContent
{
    display:flex;
    /* border:2px solid green; */
}
#leftNavigation
{
    display:flex;
    width:25%;
    justify-content:center;
    border-right:1px rgb(175, 174, 174) solid;
    border-left: 1px rgb(175, 174, 174) solid;;
    background-color: var(--leftPrimaryBackgroundColor);
}
#leftNavigationContainer
{
    display:flex;
    align-items: center;
    column-gap:0.5rem;;
    width:75%;
    font-size:100%;
}
#spendBox
{
    display:flex;
    background-color: rgb(36, 245, 36);
    align-items: center;
    justify-content: center;
    width:2rem;
    border-radius: 0.6rem;
    height:2rem;
}
#spendImage
{
    flex-shrink: 1;
    height:1rem;
}
#message
{
    background-color:blue;
}
#rightNavigation
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-grow:1;
    border-right:1px rgb(175, 174, 174) solid;
    background-color: var(--primaryBackgroundColor);
}
.rightElementBox
{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

}
#title
{
    flex-grow:1;
    font-size:1rem;
}
#dateBox
{
    width: 10%;
    border-radius:2rem;
    border:1px rgb(165, 160, 160) solid;
    font-size:1.1rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}
#notification
{
    display:flex;
    align-items: center;
}
#notificationImage
{
    height:1rem;
    flex-shrink:1;
}

/* for dropDownBox for Date*/
.dropDownBoxForDate
{
    display:none;
    width:6rem;
    flex-direction: column;
    row-gap:0.5rem;
    background-color: yellow;
    position:fixed;
    left:90%;
    height:7rem;
    overflow:scroll;   
}
.month
{
    display:flex;
    justify-content: center;
    font-size:1.1rem;
    background-color: pink;
}
.month:hover
{
    border-radius: 2rem;
    background-color: aqua;
}


/* // main Body of section */
.mainContentHeight
{
    flex-grow:1;
}
#leftSection
{
    width:25%;
    display:flex;
    flex-direction: column;
    border-right:1px rgb(175, 174, 174) solid;
    border-left: 1px rgb(175, 174, 174) solid;;
    align-items: center;
    background-color:var(--leftPrimaryBackgroundColor);
}
#rightSection
{
    flex-grow: 1;    /* background-color: pink;; */
}

.leftSectionElement
{
    width:75%;
    display:flex;
    align-items:center;
    border-radius:1rem;
    height:2.5rem;
}
.leftSectionElement:hover{
    background-color:skyblue;
    /* border-left:4px green solid; */
   /* box-shadow: 5px 4px 2px rgba(144, 238, 144, 0.4); */
   /* box-shadow: -5px -4px 2px green; */
    background-color: var(--primaryBackgroundColor);
   
}
.image:hover{
    background-color: green;;
}
.image
{
    height:1rem;
}
.imageContainer
{
    
    display:flex;
    align-items: center;
    justify-content: center;
    width:2rem;
    border-radius: 0.6rem;
    height:2rem;
}
#emptyElement
{
    flex-grow:1;
}


/* right Section  */
#rightSection
{
    background-color:var(--primaryBackgroundColor);
    display:grid;
    flex-direction: column;
    align-items: center;
    opacity: 100%;
    border-right:1px rgb(175, 174, 174) solid;
   
}
#rightSection>#noTransaction
{
    width:100%;
    height:100%;
    display:grid;
    justify-content: center;
    grid-template-rows: 2fr 1fr;
}
#haveNothingImage
{
    justify-self: center;
    align-self: end;
    background-color: yellow;
    border-radius: 50%;
    height:10rem;
}
.text 
{
    display:flex;
    font-weight: bold;
    font-size:1.5rem;
    flex-direction:column;
    align-items: center;
}
.textSize
{
    font-size:1rem;
    font-weight: 100;
}
#addMoneyBox1
{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: green;
    border-radius: 0.5rem;
    width:5rem;
    height:2rem;
}
#rightSection>#dashBoard
{
    width:100%;
    height: 100%;

/*  display:flex;  */
    display: none;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    row-gap: 0.7rem;;
}
.dashboardItem
{
    border-radius:1rem;
    width:85%;
    background-color:white;

}
#moneyDashboard
{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#leftMoneyDashboard
{
    width:87%;
    justify-self: center;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}
#messageOfTotalMoney
{
    align-self:end;
    font-size:80%;
}
#messageOfSpend
{
    align-self:self-start;
    font-size:70%;
}
#totalMoney
{
    align-self: center;
    font-size:300%;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}
#trendAnalysisBox
{
    align-self:end;
    width:45%;
    height:40%;
    justify-self:start;
    color:rgb(49,252,15);
    font-size: 30%;;
    font-weight:bold;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius:0.3rem;
    background-color: rgb(222, 243, 252);
    /* background-color: rgb(180, 255, 167) */

}
#trendImage
{
    height:0.5rem;
}

/* right Section of First section of money dashboard */
#rightMoneyDashboard
{
    display:flex;
    justify-content: end;
    flex-direction: row-reverse;
    column-gap: 1rem;
    align-items: end;
    height:75%;
    width:95%;
    grid-template-rows: 1fr 1fr;
}
#addMoneyBox, #analyticalBox
{
    border: 1px rgb(46, 44, 44) solid;
    border-radius:1rem;
    display: flex;
    font-size:90%;
    align-items: center;
    column-gap: 0.4rem;
    justify-content: center;
    height:1.9rem;
    width:6rem; 
    background-color: black;
    color:white;
}
.imageAnalytical
{
    height:0.8rem;
}
#analyticalBox
{
    color:black;
    background-color: rgb(247, 242, 242);
}
#watchAllTransaction
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight:lighter;
    font-size: 1.3rem;
    background-color: rgb(245, 243, 243);
}
#viewAllTransaction
{
    color:green;
    font-size: 60%;
}
/* transaction History */
#transactionHistory
{
    display:flex;
    flex-direction: column;
    overflow: auto;
    position:sticky;
    flex-grow:1;;
    height:15rem;
}
#transactionImage
{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height:60%;
    width:55%;
    background-color: rgb(41, 248, 41);
}
.transactionHistoryBox
{
    display:grid;
    grid-template-columns:10% 70% 20%;
    border-bottom: 1px black solid;
    height:4rem;
}
.transactionHistoryItem
{
    justify-self:center;
    align-self: center;
}
#messageOfSpending
{
    display:grid;
    grid-template-rows: 2fr 1fr;
    width:100%;
    font-size:1.5rem;
}
.date{
    align-self: start;
    font-size:0.6rem;
}
.spendingMessage
{
    align-self:end;
}


/* new section transactionAdder */
#transactionAdder
{
    border-radius: 2rem;;
    position:fixed;
    height:28rem;
    width:23rem;
    left:48%;
    z-index: 100;
    top:20%;
    background-color:white;
    display:none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.transactionItem 
{   
    justify-self: center;
    align-self:start;
    width:90%;
}
#newExpensiveBox
{
    align-self: end;
    display: flex;
    font-size:1.3rem;
    color:black;
    font-weight: 300;
    justify-content: space-between;
}
#deleteOption
{
    color:rgb(121, 117, 117);
    font-weight: 50;
}
#deleteOption:hover
{
    color:black;
}
#amountMessage
{
    display:flex;
    justify-content: center;
    align-self: end;
    font-size:1rem;
}
#totalSpendingBox
{
    display:grid;
    align-self: center;
    color:rgb(61, 59, 59);
    font-weight: bolder;
    font-style: italic;
    grid-template-columns: 1fr 1.5fr 1fr;
}
.transactionItem
{
    font-size:2rem;
    color:rgb(65, 61, 61);
    font-weight: lighter;
}
#totalRs
{
    justify-self: center;
    align-self: center;
    font-size:3.2rem;
}
#currencySymbol
{
    justify-self:end;
    font-size:3.2rem;
}
#manupulaterSymbol
{
    display:grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    
}
#decreaseRs
{
    align-self: center;
}
#spendingMessage
{
    align-self: center;
    border-bottom: 1px black solid;
}
#inputMessage
{
    border:none;
    outline:none;
    width:100%;
    font-size:40%;
}
#categoriesBox
{
    font-size: 1rem;
    align-self: center;
    display:flex;
    justify-content: start;
    gap: 0.5rem;
    flex-wrap:wrap;
    align-content:space-around;
}
#category
{
    flex-grow:1;
    width:100%;
    display: flex;
    justify-content: start;
    align-self: end;
    border:none;
}
.categoryName
{
    display:flex;
    align-items:center;
    gap:0.4rem;
    justify-content: center;
    font-size:100%;
    border:1px black solid;
    border-radius: 1rem;
    height:1.4rem;
}
#date
{
    align-self: center;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border-radius:0.3rem;
    height:2rem;
    border:1px rgb(41, 39, 39) solid;
}
#dateValue
{
    font-size:40%;
    outline:none;
    border:none;
    width:90%;
}
#submitBtnsBox
{
    display:flex;
    align-self: center;
    align-items: center;
    justify-content:end;
    column-gap: 1rem;;
}
.btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:40%;
    height:2rem;   
    color:rgb(59, 160, 59);
    font-weight: bolder;
}

#acceptedBtn
{
   background-color: rgb(28, 170, 28);
   width:6rem;
   border-radius: 1rem;
   color:black;
}

#addExpensiveBox
{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;;
    position:sticky;
    height:3rem;
    width:3rem;
    top:89%;
    left:89%;
    font-size:2rem;
    background-color:rgb(38, 248, 38);
}













